<div class="game-container">
  <h2>Guess the Number Game</h2>
  <p>Guess the number between 1 and 100!</p>

  <div *ngIf="feedBackMessage" class="feedback">
    <p>{{ feedBackMessage }}</p>
  </div>

  <div *ngIf="!gameOver">
    <label for="guess">Your Guess: </label>
    <input
      id="guess"
      type="number"
      [(ngModel)]="guessedNumber"
      [disabled]="gameOver"
      min="1"
      max="100"
      placeholder="Enter a number"
    />

    <button (click)="submitGuess()" [disabled]="!isValidGuess(guessedNumber)">
      Submit Guess
    </button>

    <p>Attempts left: {{ attempsLeft }}</p>

    <div *ngIf="gameOver">
      <button (click)="resetGame()">Play again</button>
    </div>
  </div>
</div>
